/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100..900&family=Playwrite+DE+Grund:wght@100..400&family=Quicksand:wght@300..700&display=swap');

/* Universal Styles */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* App Styling */
#app {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  color: black;
  overflow: hidden;
  background: rgb(177, 148, 148) url(https://erin-caitlin.github.io/all-images/VuePortfolio/background.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: soft-light;
}

/* Navbar Styling */
.navbar {
  padding: 30px;
  transition: background-color 0.3s ease; 
  background-color: transparent;
}

.navbar.scrolled {
  background-color: #532823b4;
}

.navbar-right {
  margin-left: auto;
}

/* Navbar Links */
nav a {
  font-weight: bold;
  color: #fff;
}

nav a.router-link-exact-active {
  color: #fff;
}

.navbar-title {
  margin-bottom: 10px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-align: center;
  margin: 0;
}

.navbar-nav {
  justify-content: center;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #fff;
  text-align: center;
}

.nav-link:hover {
  color: #000;
}

/* Image Styling */
img {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

h2, h3, h4, h6 {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
}

/* Section Backgrounds */
#about, #projects {
  background: linear-gradient(to bottom, #ae83819a, #6642428a);
}

/* Section Title Styling */
.section-title {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2.5rem;
  color: #532823;
  text-transform: uppercase;
}

/* Media Queries */
@media (max-width: 991.98px) {
  .navbar-title {
    margin-bottom: 15px;
  }

  .navbar-toggler {
    margin-top: 10px;
  }

  .navbar-collapse {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #532823b4;
    transition: left 0.3s ease;
    z-index: 1050;
  }

  .navbar-collapse.show {
    left: 0;
  }

  .nav-link {
    color: #fff;
    padding: 15px 20px;
  }
}

/* Scrollbar*/
body {
    overflow-y: scroll; 
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #532823c2; 
    width: 0; 
}

::-webkit-scrollbar-thumb {
    background-color: #532823b4; 
    border-radius: 8px; 
    border: none; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c8a2c8;
}

/* Remove scrollbar arrows */
::-webkit-scrollbar-button {
    display: none; /* Hide the arrows */
}

/* Scrollbar styling for Firefox */
body {
    scrollbar-width: thin; 
    scrollbar-color: #532823b4; 
}
